// Bootstrap
@import './_variables';

$color-pascal: #f79321;
$color-pascal-contrast: #2f3542;
$color-pascal-contrast-light: lighten($color-pascal-contrast, 10%);;
$body-color: $color-pascal-contrast;
$nav-tabs-border-color: #ddd;
$border-radius: 0 !default;
$list-group-active-color: white;
$list-group-active-bg: $color-pascal;
$list-group-border-width: 0;
$list-group-item-padding-y: 10px;
$list-group-item-padding-x: 10px;
$list-group-hover-bg: lighten($color-pascal, 40%);
$warning: $color-pascal;
$input-color: $color-pascal-contrast;
$text-muted: $color-pascal-contrast;
$blue: $color-pascal-contrast;
$primary:       $color-pascal-contrast !default;
$secondary:     $color-pascal !default;
$input-btn-focus-width:       .2rem !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $color-pascal-contrast !default;

@import '~bootstrap/scss/bootstrap';
@import './materia';

@import "~medium-editor/dist/css/medium-editor.css";
@import "~medium-editor/dist/css/themes/flat.css";
@import "~medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.css";
@import "~medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin-frontend.css";


@import './loading';

body {
  overflow-y: scroll;
}

.navbar {
  background-color: #2f3542;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  .navbar-toggler {
    border: none !important;
    color: white !important;
  }
  &.navbar-main {
    padding: 10px;
  }
  &.navbar-sub {
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    background-color: $color-pascal;
  }
  ul > li.nav-item {
    position: relative;
    padding-right: 1em;
    padding-left: 1em;
    &:first-child {
      padding-left: 0;
    }
    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
    &:after {
      position: absolute;
      top: 30%;
      height: 40%;
      right: 0;
      width: 1px;
      border-right: 1px dashed #d4d4d4;
      @include media-breakpoint-down(md) {
        border-right: none;
      }
      content: " ";
    }
    &:last-child:after {
      content: '';
      display: none;
    }
    &.nav-item-right {
      &:after {
        display: none;
      }
      &:last-child {
        padding-right: 0;
        padding-left: 1em;
      }
    }
    &.active {
      a {
        text-decoration: underline;
        span {
          text-decoration: none !important;
        }
      }
    }
    a {
      color: white !important;
      text-decoration: none;
      text-transform: uppercase;
      &.nav-link {
        font-weight: 800;
        font-size: 1.1em;
        span {
          color: white;
          font-size: .9em;
          font-weight: 300;
          display: block;
          text-decoration: none !important;
        }

      }
    }

  }
}

.nav.nav-tabs {
  .nav-item {
    .nav-link {
      text-transform: uppercase;

      &.active {
        font-weight: 700;
      }
    }
  }
}


.editable {
  height: auto;
  background-color: #e0e0e0;
  padding: 10px;
}

form {
  input, select, textarea {
    &.form-control {
      background-color: #e0e0e0;
      padding: 10px;
      &:focus {
        border: 1px solid #e0e0e0;
      }
    }

  }
}

.badge-main {
  background-color: $color-pascal;
  color: white;
}
.badge-contrast {
  background-color: $color-pascal-contrast;
  color: white;
}

.nav-tabs li.nav-item a.nav-link {
  color: $color-pascal-contrast;
  &:hover, &:active, &:focus {
    color: $color-pascal-contrast;
    -webkit-box-shadow: inset 0 -2px 0 $color-pascal-contrast;
    box-shadow: inset 0 -2px 0 $color-pascal-contrast;
  }
  &.active {
    color: $color-pascal-contrast;
    -webkit-box-shadow: inset 0 -2px 0 $color-pascal-contrast;
    box-shadow: inset 0 -2px 0 $color-pascal-contrast;
    &:hover, &:active, &:focus {
      -webkit-box-shadow: inset 0 -2px 0 $color-pascal-contrast;
      box-shadow: inset 0 -2px 0 $color-pascal-contrast;
      color: $color-pascal-contrast;
    }
  }
}

label {
  font-weight: 600;
  &:after {
    content: ":"
  }
}

.navbar-light .navbar-brand {
  color: white !important;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

.hero {
  padding: 8.5rem 0;
  background: url(https://d19m59y37dris4.cloudfront.net/appton/1-0/img/hero-bg.svg) no-repeat;
  background-size: cover;
  background-position: bottom left;
  h1 {
    font-size: 3em;
  }
}

section {
  padding: 7rem 0;
}

.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.card-link {
  font-weight: bold;
  text-transform: uppercase;
  color: $primary;
  padding: 10px;
  &.delete {
    color: $red;
  }
  &:hover {
    background-color: lighten($primary, 45) !important;
    color: white;
  }
}

.intro-box {
  background: $primary;
  padding: 20px;
  color: white;
}

.item-status {
  position: absolute;
  right: 4px;
  top: 4px;
  opacity: .7;
  padding: 4px;
  color: white;
  &:after {
    padding-left: 4px;
    content: attr(data-readable);
    font-weight: bold;
    text-transform: uppercase;
  }

  &.item-status-approved {
    background-color: green;
    i:before {
      content: "\f00c";
    }
  }
  &.item-status-kyc, &.item-status-submitted {
    background-color: $warning;
    i:before {
      content: "\f085";
    }
  }
  &.item-status-not_approved {
    background-color: $primary;
    i:before {
      content: "\f128";
    }
  }
  &.item-status-public {
    background-color: green;
    i:before {
      content: "\f00c";
    }
  }

}


.medium-editor-insert-plugin .medium-insert-buttons button[data-addon="embeds"] {
  display: none !important;
}

.medium-insert-images, .mediumInsert {
  text-align: left;
}
.medium-insert-images .medium-insert-images-progress, .mediumInsert .medium-insert-images-progress {
  background: none;
  max-width: 100%;

}

.from-editable .medium-insert-buttons {
  display: none !important;
}